functions-framework==3.*
google-cloud-storage==2.*
psycopg[pool]
langchain-postgres
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
google-cloud-logging
langchain-openai>=0.1.0
langgraph>=0.1.0
psycopg2-binary>=2.9.9
langchain-community>=0.0.20
google-cloud-iam
google-cloud-resourcemanager
google-cloud-run
google-cloud-functions
